//.button {
//  background-color: $accent;
//  color: #ffffff;
//  font-size: 14px;
//  box-sizing: border-box;
//  display: inline-block;
//  width: 100%;
//  padding: 10px 42px;
//  text-align: center;
//  text-transform: uppercase;
//  border: none;
//  min-height: 40px;

  //&:hover,
  //&:focus {
  //  background-color: #5eaa2f;
  //}

  //&:active {
  //  color: rgba(255, 255, 255, 0.3);
  //}
//}

//@media (min-width: $desktop) {
//  .button--more-items {
//    padding: 10px 20px;
//  }
//}

.button {
  width: 100%;
  position: relative;
  text-decoration: none;
  color: green;
  background-color: unset;
  overflow: hidden;
  text-transform: uppercase;
  border: 1px solid green;
  min-height: 59px;
  //padding: 10px 42px;
  //box-sizing: border-box;

  .buttton__title {
    margin: 0;
    //padding: 10px 0;
    display: inline-block;
    //box-sizing: border-box;
  }

  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: green;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover {
    color: white;

    span {
      width: 225%;
      height: calc(300px * 2.25);
    }
  }

  &:active {
    background-color: blue;
  }
}

