@font-face {
  font-family: "akrobat";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/akrobatthin.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "akrobat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/akrobat.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "akrobat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/akrobatbold.woff2") format("woff2");
  font-display: swap;

}

a {
  text-decoration: none;
  color: #FFFFFF;
}

html {
  position: relative;
  height: 100%;
}

body {
  //position: relative;
  //min-height: 100vh;
  //height: 100%;
  margin: 0;
  padding: 0;
  font-family: "akrobat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;
  letter-spacing: normal;
  color: $black;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.top {
  transition: all 1s ease;
  position: fixed;
  right: -100px;
  bottom: 50px;
  transform: rotate(180deg);
  z-index: 99899898989898;
  //display: none;
  width: 55px;
  height: 55px;
  background-color: rgba(244, 114, 32, .7);
  border-radius: 50%;

  @include mobile-max {
    width: 50px;
    height: 50px;
  }

  & svg {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 53px;
    height: 34px;

    @include mobile-max {
      width: 30px;
      height: 30px;
    }
  }
}

.active {
  //transition: all 1s ease;
  right: 50px;
  @include mobile-max {
    right: 0;
  }
}

//.test-wrapper {
//  position: relative;
//  width: 100%;
//  height: 100%;
//}


img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.title {
  text-transform: uppercase;
  text-align: center;
  font-family: "gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 39px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 35px;
  text-decoration: underline;
  padding-top: 45px;
}

.arrow-left::before,
.arrow-right::before {
  content: " ";
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url(../img/angle-right.svg);
  background-repeat: no-repeat;
}

.arrow-left::before {
  transform: rotate(180deg);
}

.page-main {
  position: relative;
  top: 116px;
}

.text {
  font-weight: normal;
}

.text p, .text span {
  color: $red;
  margin-top: 4px;
}

.overflow-hidden--js {
  overflow: hidden;
}

