.catalog {
  position: relative;
  width: 100%;
  min-height: 1000px;
  background-image: url("../images/productionUnit/vetki_sverhu.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 8.2% 7.3% 30px;
  box-sizing: border-box;

  @include tablet-max {
    padding: 5.5% 7.3% 30px;
    background-image: url("../images/productionUnit/vetki_sverhu_2.jpg");
    background-size: cover;
  }

  @include mobile-max {
    padding: 10% 7.3% 30px;
    background-image: url("../images/productionUnit/vetki_sverhu_3.jpg");
    background-size: cover;
    min-height: auto;
  }

  //&::before {
  //  content: " ";
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  background-image: url("../images/svg/zig-zag.svg");
  //  background-repeat: repeat-x;
  //  background-position: bottom;
  //  width: 100%;
  //  height: 10px;
  //  transform: rotate(180deg);
  //}

  &::after {
    content: " ";
    position: absolute;
    bottom: -8px;
    left: 0;
    background-image: url(../images/svg/zig-zag.svg);
    background-repeat: repeat-x;
    background-position: top;
    transform: rotate(180deg);
    width: 100%;
    height: 10px;
    z-index: 2;
  }
}

.catalog__slide {
  display: none;
}


.catalog__wrapper-list {
  display: flex;
  align-items: center;
  padding-bottom: 50px;

  @include desktop-min {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.catalog__wrapper-controls {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  width: 30%;

  @include tablet {
    width: 100%;
  }

  & label {
    background-color: transparent;
    color: black;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    //padding: 10px;
    padding: 9px 0;

    @include tablet-max {
      font-size: 21px;
      line-height: 21px;
      padding: 0;
    }

    @include tablet {
      padding: 9px 0;
      margin-bottom: 2px;
    }

    @include mobile-max {
      font-size: 14px;
      padding: 0;
      margin-bottom: 2px;
    }
  }
}

.catalog__list {
  padding: 0;
  box-sizing: border-box;
  width: 70%;
  min-height: 540px;

  @include desktop-min {
    min-height: 540px;
  }

  @include tablet {
    width: 100%;
    margin: 0;
  }

  @include mobile-max {
    min-height: auto;
  }

}


.catalog__controls {
  min-width: 424px;
  text-align: center;
  //margin-right: 20px;
  //padding-right: 2%;

  @include desktop-min {
    min-width: 100%;

    & label {
      font-size: 21px;
    }
  }

}

.catalog__wrapper-controls-item {
  width: 100%;
  color: black;

  &:hover {
    border-radius: 50px 0 0 50px;
    background-color: rgba(94, 170, 47, 0.6);

    @include tablet-max {
      border-radius: 50px 50px 50px 50px;
      //padding: 9px 0;
    }

    @include mobile-max {
      padding: 0;
    }
  }


}

#advantage-1:checked ~ .catalog__wrapper-controls label[for="advantage-1"],
#advantage-2:checked ~ .catalog__wrapper-controls label[for="advantage-2"],
#advantage-3:checked ~ .catalog__wrapper-controls label[for="advantage-3"],
#advantage-4:checked ~ .catalog__wrapper-controls label[for="advantage-4"],
#advantage-5:checked ~ .catalog__wrapper-controls label[for="advantage-5"],
#advantage-6:checked ~ .catalog__wrapper-controls label[for="advantage-6"] {
  background-color: #5eaa2f;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;
  padding: 9px 0 9px 9px;


  @include tablet {
    border-radius: 50px 50px 50px 50px;
  }

  @include mobile-max {
    padding: 0;
  }
}

#advantage-1:checked ~ .catalog__list #advantage-1,
#advantage-2:checked ~ .catalog__list #advantage-2,
#advantage-3:checked ~ .catalog__list #advantage-3,
#advantage-4:checked ~ .catalog__list #advantage-4,
#advantage-5:checked ~ .catalog__list #advantage-5,
#advantage-6:checked ~ .catalog__list #advantage-6 {
  display: block;
}

.catalog__slide {
  //min-height: 966px;
  border-left: 15px solid #5eaa2f;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  flex-wrap: wrap;
  align-items: center;

  @include tablet {
    width: 100%;
    border-left: none;
    border-top: 2px solid rgba(255, 0, 0, .2);
  }

  @include mobile-max {
    padding-left: 0;
    height: auto;
    //min-height: auto;
  }
}

.catalog__wrapper-box {
  min-width: 70%;
}

.catalog__wrapper-box-item {
  @include mobile-max {
    margin-top: 10px;
  }
}

.catalog__wrapper-box-item p {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;

  @include tablet-max {
    font-size: 20px;
    line-height: 25px;
  }

  @include mobile-max {
    font-size: 16px;
    line-height: 21px;
  }
}

.catalog__wrapper-box-item span {
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  display: block;

  @include mobile-max {
    font-size: 16px;
    line-height: 21px;
  }
}

.catalog__wrapper-box-item h3 {
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;

  @include mobile-max {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
  }
}

p.catalog__wrapper-box-item-packing {
  text-align: center;
  font-weight: 800;
}


.catalog__wrapper-box-packing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  width: 100%;

  & span {
    margin-bottom: 10px;

    @include mobile-max {
      font-size: 16px;
      line-height: 21px;
      text-align: center;
    }
  }

  & h3 {
    margin-bottom: 10px;
  }
}


.catalog__wrapper-box-packing-slide img {
  display: block;
  margin: 0 auto;
  align-items: center;
  //width: 70%;

  @include tablet {
    width: 70%;
  }
}

.catalog__wrapper-box-packing-slide span {
  text-align: center;
  display: block;
}

.catalog__wrapper-box-packing > * {
  margin: 0;
}

.catalog__wrapper-box-packing-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;

  @include tablet-max {
    //width: 50%;
    //flex-wrap: nowrap;
  }
}

.catalog__slider-jmikh-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
  //width: 70%;
  //width: 100%;


  @include tablet-max {
    margin: 0;
    flex-wrap: wrap;
  }
}

.catalog__slider-jmikh-slide img {
  //width: 100%;
  border-radius: 50px;

  @include desktop-min {
    width: 70%;
  }

  @include desktop-min {
    width: 44%;
  }

  @include tablet {
    width: 70%;
  }

  @include mobile-max {
    width: 100%;
  }
}

.catalog__wrapper-box-list {
  margin-bottom: 20px;
}

.catalog__wrapper-box-storage {
  width: 100%;
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .catalog__button {

    display: inline-block;
    position: relative;
    padding: 0 19px;
    border-radius: 30px;
    color: #FFFFFF;
    background-color: #F47220;
    font-size: 30px;
    font-weight: 700;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 60px;
    z-index: 0;

    @include tablet-max {
      width: 35%;
    }

    @include tablet {
      width: 35%;
    }

    @include mobile-max {
      width: 100%;
      order: 1;
      font-size: 17px;
      height: 40px;
      min-height: 40px;
    }
  }

  @include tablet {
    flex-wrap: wrap;
  }

  & span {
    width: 65%;
    text-align: right;
    font-size: 18px;

    @include mobile-max {
      font-size: 14px;
      width: 100%;
      text-align: center;
    }
  }
}

.catalog__slide-controls::after {
  display: none;
}

.catalog__slide-controls {

  @include effect-opacity;
}

.catalog__slide-controls--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999;
  top: 25%;
  //display: none;

  @include tablet-max {
    top: 59%;
    display: block;
  }

  @include mobile-max {
    left: 13px;
    top: 45%;
  }
}

.catalog__slide-controls--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999;
  top: 25%;

  @include tablet-max {
    top: 59%;
    display: block;
  }

  @include mobile-max {
    right: 13px;
    top: 45%;
  }
}

.catalog__slide-controls::after {
  display: none;
}

.catalog__slide-controls {

  @include effect-opacity;
}

.catalog__slide-controls--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999;
  //top: 54%;
  //display: none;

  @include tablet-max {
    top: 59%;
    display: block;
  }

  @include mobile-max {
    left: 13px;
    top: 45%;
  }
}

.catalog__slide-controls--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999;
  //top: 54%;
  //display: none;

  @include tablet-max {
    top: 59%;
    display: block;
  }

  @include mobile-max {
    right: 13px;
    top: 45%;
  }
}

//.catalog__slide-controls-shell {
//  display: none;
//}

.catalog__slide-controls-shell::after {
  display: none;
}


.catalog__slide-controls-membrane::after {
  display: none;
}

.catalog__membrane-full-controls::after {
  display: none;
}

.catalog__container-membrane-slide img {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  //min-height: 350px;
  //width: 80%;

  @include desktop-min {
    width: 40%;
  }

  @include tablet {
    width: 70%;
  }

  @include mobile-max {
    width: 100%;
  }
}

.catalog__slide-controls-membrane--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999999999999;
  top: 50%;
  //display: none;
  left: 0;

  @include tablet-max {
    //top: 30%;
    display: block;
  }

  @include tablet {
    //top: 35%;
  }

  @include mobile-max {
    //top: 60%;
  }
}

.catalog__slide-controls-membrane--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 999999999999999999999;
  top: 50%;
  //display: none;
  right: 0;

  @include tablet-max {
    //top: 30%;
    display: block;
  }

  @include tablet {
    //top: 35%;
  }

  @include mobile-max {
    right: 0;
    //top: 60%;
  }
}

.catalog__container-shell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-self: flex-end;
}

.catalog__container-shell-slide {
  position: relative;
}

.catalog__container-shell-slide img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  //width: 80%;

  @include desktop {
    width: 44%;
  }

  @include tablet {
    width: 70%;
  }

  @include mobile-max {
    width: 100%;
  }
}

.catalog__slide-controls-shell::after {
  display: none;
}

.catalog__slide-controls-shell--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999999999999;
  top: 50%;
  //display: none;
  left: 0;

  @include tablet-max {
    //top: 30%;
    display: block;
  }

  @include tablet {
    //top: 35%;
  }

  @include mobile-max {
    //top: 60%;
  }
}

.catalog__slide-controls-shell--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 999999999999999999999;
  top: 50%;
  //display: none;
  right: 0;

  @include tablet-max {
    //top: 30%;
    display: block;
  }

  @include tablet {
    //top: 35%;
  }

  @include mobile-max {
    right: 0;
    //top: 60%;
  }
}

.catalog__container-crushed {
  align-self: flex-end;
}

.catalog__slide-controls-crushed::after {
  display: none;
}

.catalog__container-crushed-slide img {
  margin: 0 auto;
  display: block;
  //width: 100%;
  min-height: 350px;
  margin-bottom: 20px;

  @include desktop {
    width: 70%;
  }

  @include desktop-min {
    width: 40%;
  }

  @include tablet {
    width: 70%;
  }

  @include mobile-max {
    width: 100%;
  }
}

.catalog__slide-controls-crushed--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999999999999;
  top: 50%;
  //display: none;
  left: 0;

  @include tablet-max {
    //top: 30%;
    display: block;
  }

  @include tablet {
    //top: 35%;
  }

  @include mobile-max {
    //top: 60%;
  }
}

.catalog__slide-controls-crushed--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 999999999999999999999;
  top: 50%;
  //display: none;
  right: 0;

  @include tablet-max {
    //top: 30%;
    display: block;
  }

  @include tablet {
    //top: 35%;
  }

  @include mobile-max {
    right: 0;
    //top: 60%;
  }
}

.catalog__full-close {
  position: absolute;
  right: 50px;
  top: 50px;
  border: none;
  background-color: transparent;
  z-index: 99999999993994765275468471294898585739577;

  @include mobile-max {
    top: 30px;
    right: 0;
  }
}

.catalog__kernel--full {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999909889989898908908908999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  display: none;
}

.show-full-catalog--js {
  display: flex;
}

.catalog__wrapper-box-packing--full .catalog__slide-controls {
  top: 50%;
  &--prev{
    left: 400px;
  }

  &--next{
    right: 400px;
  }
}

.catalog__wrapper-box-packing-slide--full span {
  color: #F47220;
}

.catalog__wrapper-box-packing-slide--full > * {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  //transform: translateY(-50%);
  top: 50%;
}

.catalog__wrapper-box-packing-slide--full img {
  max-height: 80vh;
}

.catalog__slider-oil-slide img {
  display: block;
  margin: 0 auto;

  @include desktop-min {
    width: 70%;
  }

  @include desktop-min {
    width: 44%;
  }

  @include tablet {
    width: 70%;
  }

  @include mobile-max {
    width: 100%;
  }
}

.catalog__slider-oil-slide span {
  text-align: center;
  display: block;
}

.catalog__oil--full {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  display: none;
}

.catalog__oil-show {
  display: flex;
}

.catalog__oil-show img{
  max-height: 80vh;
}

.catalog__oil-full-close {
  position: absolute;
  right: 50px;
  top: 50px;
  border: none;
  background-color: transparent;
  z-index: 99999999993994765275468471294898585739577;

  @include mobile-max {
    top: 30px;
    right: 0;
  }
}

.show-full-oil--js {
  position: relative;
  display: block;
}

.catalog__jmikh--full {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  display: none;
}

.catalog__jmikh-show {
  display: flex;
}

.catalog__jmikh-show img{
  max-height: 80vh;
}

.catalog__jmikh-full-close {
  position: absolute;
  right: 50px;
  top: 50px;
  border: none;
  background-color: transparent;
  z-index: 99999999993994765275468471294898585739577;

  @include mobile-max {
    top: 30px;
    right: 0;
  }
}

.catalog__shell--full {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  display: none;
}


.catalog__shell-show {
  display: flex;
}

.catalog__shell-show img{
  max-height: 80vh;
}

.catalog__shell-full-close {
  position: absolute;
  right: 50px;
  top: 50px;
  border: none;
  background-color: transparent;
  z-index: 99999999993994765275468471294898585739577;

  @include mobile-max {
    top: 30px;
    right: 0;
  }
}

.catalog__shell--full .catalog__slide-controls-shell {
  top: 50%;
  &--prev{
    left: 400px;
  }

  &--next{
    right: 400px;
  }
}

.catalog__membrane--full {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  display: none;
}

.catalog__membrane-show {
  display: flex;
}

.catalog__membrane-show img{
  max-height: 80vh;
}

.catalog__membrane-full-close {
  position: absolute;
  right: 50px;
  top: 50px;
  border: none;
  background-color: transparent;
  z-index: 99999999993994765275468471294898585739577;

  @include mobile-max {
    top: 30px;
    right: 0;
  }
}

.catalog__membrane--full .catalog__slide-controls-membrane {
  top: 50%;
  &--prev{
    left: 400px;
  }

  &--next{
    right: 400px;
  }
}

.catalog__crushed--full {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  display: none;
}

.catalog__crushed-show {
  display: flex;
}

.catalog__crushed-show img{
  max-height: 80vh;
}

.catalog__crushed-full-close {
  position: absolute;
  right: 50px;
  top: 50px;
  border: none;
  background-color: transparent;
  z-index: 99999999993994765275468471294898585739577;

  @include mobile-max {
    top: 30px;
    right: 0;
  }
}

.catalog__crushed--full .catalog__slide-controls-crushed {
  top: 50%;
  &--prev{
    left: 400px;
  }

  &--next{
    right: 400px;
  }
}
