.contacts {
  position: relative;
  //box-sizing: border-box;
  //padding: 0 7.3%;

  @include mobile-max {
    padding: 5% 7.3%;
  }

  //&::after {
  //  content: " ";
  //  position: absolute;
  //  bottom: -8px;
  //  left: 0;
  //  background-image: url(../images/svg/zig-zag.svg);
  //  background-repeat: repeat-x;
  //  background-position: top;
  //  transform: rotate(180deg);
  //  width: 100%;
  //  height: 10px;
  //  z-index: 2;
  //
  //  @include mobile-max {
  //  }
  //
  //}

  & h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-align: center;
    color: #06428A;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;

    @include mobile-max {
      font-size: 39px;
      line-height: 79px;
      margin: 0;
    }
  }
}

.contacts__swiper {
  z-index: 0;
}

.contacts__slide-wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__slide-image-title {
  display: flex;
  flex-direction: column;
  background-image: url("../images/contacts/director.jpg");
  background-size: cover;
  background-position: center;
  min-height: 480px;
  padding: 0 20px;
  box-sizing: border-box;

  @include desktop {
    min-height: 480px;
  }

  @include desktop-min {
    min-height: 405px;
  }

  @include tablet-max {
    min-height: 460px;
  }

  @include mobile-max {
    min-height: 315px;
  }


  .contacts__slide-title {
    margin: 0 auto;
    margin-top: auto;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;

    & h3 {
      margin: 0;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 60px;
      line-height: 72px;
      font-weight: 700;
      letter-spacing: 1.6px;
      text-align: center;
      display: inline-block;
      border-radius: 20px;
      //margin-bottom: 10px;

      @include mobile-max {
        font-size: 50px;
        line-height: 47px;
      }
    }

    &--big h3 {
      font-size: 40px;
      line-height: 48px;
      display: inline-block;

      @include desktop {
        font-size: 37px;
      }

      @include desktop-min {
        font-size: 22px;
        line-height: 26px;
      }

      @include mobile-max {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &--moscow {
    background-image: url("../images/contacts/moscow.jpg");
  }

  &--krsk {
    background-image: url("../images/contacts/krsk.jpg");
  }

  &--export-first {
    background-image: url("../images/contacts/export_1.jpg");

  }

  &--export-second {
    background-image: url("../images/contacts/export_2.jpg");
  }
}


.contacts__slide-data {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url("../images/contacts/director_second_background.jpg");

  & h3 {
    margin: 0;
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;

    @include desktop {
      font-size: 43px;
    }

    @include desktop-min {
      font-size: 24px;
      line-height: 35px;
    }

    @include tablet-max {
      font-size: 29px;
    }

    @include tablet {
      font-size: 39px;
    }

    @include mobile-max {
      font-size: 26px;
      line-height: 36px;
      letter-spacing: 3.7px;
    }
  }

  &--director {

    & h3 {
      @include mobile-max {
        margin-bottom: 20px;
        letter-spacing: 2.3px;
      }
    }

    .export-second__mail {
      margin-bottom: 44px;

      @include mobile-max {
        margin-bottom: 10px;
      }
    }

    .export-second__phone {
      margin-bottom: 44px;
    }
  }

  &--moscow {
    background-image: url("../images/contacts/moscow_second_background.jpg");

    .export-second__mail {
      margin-bottom: 44px;

      @include mobile-max {
        margin-bottom: 10px;
      }
    }

    .export-second__phone {
      margin-bottom: 44px;
    }
  }

  &--krsk {
    background-image: url("../images/contacts/krsk_second_background.jpg");

    .export-second__mail {
      margin-bottom: 44px;

      @include mobile-max {
        margin-bottom: 10px;
      }
    }

    .export-second__phone {
      margin-bottom: 44px;
    }
  }

  &--export-first {
    background-image: url("../images/contacts/export_1_second_background.jpg");

    @include desktop {
      & button {
        flex-wrap: wrap;
        margin: 0;
        text-align: center;
        align-items: center;
        flex-direction: column;

        svg {
          width: 53px;
          margin: 0 auto;
        }

        a {
          font-size: 27px;
          line-height: 50px;
        }
      }
    }

    @include mobile-max {
      & button {
        flex-wrap: wrap;
        margin: 0;
        text-align: center;
        align-items: center;
        flex-direction: column;

        svg {
          width: 30px;
          margin: 0 auto;
        }

        a {
          font-size: 12px;
          line-height: 17px;
        }
      }
    }

    .export-second__mail {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .contacts__mail-description {
      //width: 100%;
      //text-align: center;
      //font-size: 30px;
      //line-height: 36px;
      //margin: 0;
      //margin-bottom: 10px;
    }

    .contacts__mail {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    //.contacts__mail-data {
    //  margin-left: 20px;
    //  font-size: 40px;
    //  line-height: 48px;
    //  margin-bottom: 10px;
    //}
  }

  &--export-second {
    background-image: url("../images/contacts/export_2_second_background.jpg");

    h3 {
      @include mobile-max {
        margin-bottom: 0;
      }
    }

    @include desktop {
      //& button {
      //  flex-wrap: wrap;
      //  margin: 0;
      //  text-align: center;
      //  align-items: center;
      //  flex-direction: column;
      //
      //  svg {
      //    width: 53px;
      //    margin: 0 auto;
      //  }
      //
      //  a {
      //    font-size: 27px;
      //    line-height: 50px;
      //  }
      //}
    }

    @include mobile-max {

      //& button {
      //  flex-wrap: wrap;
      //  margin: 0;
      //  text-align: center;
      //  align-items: center;
      //  flex-direction: column;
      //
      //  svg {
      //    width: 30px;
      //    margin: 0 auto;
      //  }
      //
      //  a {
      //    font-size: 12px;
      //    line-height: 17px;
      //  }
      //}
    }
  }


}

.export-second__mail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & svg {
    @include mobile-max {
      width: 30px;
    }
  }
}

.contacts__mail-description {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;

  @include desktop-min {
    font-size: 22px;
  }

  @include mobile-max {
    font-size: 15px;
    line-height: 0;
  }
}

.contacts__mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__mail-data {
  margin-left: 20px;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;

  @include desktop {
    font-size: 43px;
  }

  @include desktop-min {
    font-size: 27px;
  }

  @include tablet {
    font-size: 45px;
  }

  @include mobile-max {
    font-size: 25px;
    margin: 0;
    margin-left: 10px;
  }
}

.export-second__phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  & svg {
    @include mobile-max {
      width: 30px;
    }
  }
}

.contacts__phone-data {
  margin-left: 20px;
  font-size: 45px;

  @include desktop-min {
    font-size: 37px;
  }

  @include tablet {
    font-size: 49px;
  }

  @include mobile-max {
    font-size: 30px;
  }
}

.contacts__phone-data-description {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;

  @include desktop-min {
    font-size: 21px;
    line-height: 30px;
  }

  @include tablet {
    font-size: 28px;
  }

  @include mobile-max {
    font-size: 15px;
    line-height: 15px;
  }
}

.contacts__slide-controls {
  @include effect-opacity;
}

.contacts__slide-controls::after {
  display: none;
}

.contacts__slide-controls--prev {
  position: absolute;
  content: " ";
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
  top: 48.7%;
  left: 0;
  z-index: 9999999999;
  @include effect-opacity;


  @include desktop-min {
    width: 50px;
    height: 50px;
    top: 50%;
  }

  @include mobile-max {
    width: 40px;
    height: 40px;
  }

  svg {
    @include mobile-max {
      width: 25px;
      height: 25px;
    }
  }
}

.contacts__slide-controls--next {
  position: absolute;
  content: " ";
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
  top: 48.7%;
  right: 0;
  z-index: 9999999999;
  @include effect-opacity;


  @include desktop-min {
    width: 50px;
    height: 50px;
    top: 50%;
  }

  @include mobile-max {
    width: 40px;
    height: 40px;
  }

  svg {
    @include mobile-max {
      width: 25px;
      height: 25px;
    }
  }
}
