.map {
  position: relative;
  width: 100%;
  min-height: 960px;

  //height: auto;
  background-image: url("../images/map/background_map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  //padding: 29px 140px 29px 140px;
  padding: 29px 7.3% 0;
  box-sizing: border-box;
  margin-bottom: -161px;
  z-index: 0;

  @include desktop {
  }

  @include desktop-min {
    min-height: 960px;
  }

  @include tablet-max {
    background-image: url("../images/map/background_map_tablet.jpg");
    background-size: cover;
  }

  @include tablet {
    min-height: 920px;
  }

  @include mobile-max {
    min-height: 785px;
    background-image: url("../images/map/background_map_mobile.jpg");
    background-size: cover;
  }

  @include mobile {
    min-height: 740px;
  }
}

.map__container {
  position: relative;
  background-color: rgba(0, 0, 0, .15);
  max-width: 1640px;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  @include mobile-max {
    flex-wrap: wrap;
  }
}

.map__container-krsk {
  position: relative;
  width: 50%;


  & h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 37px;
    line-height: 54px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
  }

  & iframe {
    @include mobile-max {
      height: 300px;
    }
  }

  @include mobile-max {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
    margin-bottom: 92px;
  }
}

.map__container-moscow {
  width: 50%;
  //padding: 20px;
  //padding-left: 10px;

  & h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 37px;
    line-height: 54px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
  }

  & iframe {
    @include mobile-max {
      height: 300px;
    }
  }

  @include mobile-max {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    //height: 300px;
    margin-bottom: 20px;
  }
}

.map_title {
  margin: 0 auto;
  max-width: 1640px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-bottom: 20px;

  @include mobile-max {
    font-size: 51px;
    line-height: 52px;
  }
}

.map__slider-control::after {
  display: none;
}

.map__slider-control {
  //background-color: rgba(0, 0, 0, .3);
  //height: 32px;
  @include effect-opacity;
}

.map__slider-control--prev {
  position: absolute;
  content: " ";
  width: 42px;
  height: 32px;
  z-index: 9999999999;
  //background-color: rgba(255, 255, 255, .4);
  //border-radius: 41%;
  top: 8%;
  display: none;


  @include tablet-max {
    top: 6%;
    display: block;
  }

  @include tablet {
    left: 9px;
    top: 6%;
  }

  @include mobile-max {
    left: 9px;
    top: 10.6%;
  }
}

.map__slider-control--next {
  position: absolute;
  content: " ";
  width: 42px;
  height: 32px;
  z-index: 9999999999;
  //background-color: rgba(255, 255, 255, .4);
  //border-radius: 41%;
  top: 8%;
  display: none;


  @include tablet-max {
    top: 6%;
    display: block;
  }

  @include tablet {
    right: 3px;
    top: 6%;
  }

  @include mobile-max {
    right: 3px;
    top: 10.6%;
  }
}
