.products {
  position: relative;
  //box-sizing: border-box;
  //padding: 0 7.3%;

  &::before {
    content: " ";
    position: absolute;
    top: -29px;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 10px;

    @include mobile-max {
      top: -8px;
    }
  }

  //&::after {
  //  content: " ";
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  background-image: url("../images/svg/zig-zag.svg");
  //  background-repeat: repeat-x;
  //  background-position: bottom;
  //  background-position-x: 23px;
  //  width: 100%;
  //  height: 10px;
  //  z-index: 2;
  //
  //
  //  //@include mobile-max {
  //  //  top: -8px;
  //  //}
  //
  //}

  @include mobile-max {
    //padding: 0 7.3% 5%;
  }

  & h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    //margin-bottom: 20px;

    @include mobile-max {
      font-size: 39px;
      line-height: 50px;
      margin: 0;
    }
  }

  & span {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 1.6px;

    @include mobile-max {
      font-size: 18px;
      line-height: 29px;
      margin: 0;
      letter-spacing: .1px;
      margin-bottom: 10px;
    }
  }
}

.products__swiper {
  //max-width: 1640px;
}


.products__swiper-wrapper {
  margin: 0;
}

.products__slide-data {
  background-image: url("../images/products/1_background_wood.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 57px;
  padding-top: 75px;

  @include desktop-min {
    padding-bottom: 32px;
    padding-top: 25px;
  }

  @include tablet-max {
    padding-bottom: 60px;
    padding-top: 40px;
  }

  @include mobile-max {
    padding-bottom: 42px;
    padding-top: 26px;
  }

  & h3 {
    margin: 0;
    margin-bottom: 46px;
    font-size: 37px;
    line-height: 54px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;

    @include desktop-min {
      font-size: 25px;
      line-height: 37px;
    }

    @include tablet-max {
      //font-size: 35px;
      //line-height: 49px;
      //margin: 0;
      font-size: 24px;
      line-height: 46px;
    }

    @include tablet {
      font-size: 35px;
      line-height: 30px;
    }

    @include mobile-max {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.products__swiper .products__slide:nth-child(2n+2) .products__slide-wrapper {
  flex-direction: column-reverse;
  //opacity: 0.5;
}


.products__slide-wrapper {
  display: flex;
  flex-direction: column;
}

.products__slide-image {


  &--seed {
    background-image: url("../images/products/seed_nut.jpg");
    background-size: cover;
    background-position: center;
  }

  &--oil {
    background-image: url("../images/products/2_background_oil.jpg");
    background-size: cover;
    background-position: center;
  }

  &--jmich {
    background-image: url("../images/products/jmich_nut.jpg");
    background-size: cover;
    background-position: left;
    background-position-x: 31%;
    background-position-y: 8%;
  }

  &--scorlupa {
    background-image: url("../images/products/scorlupa_nut.jpg");
    background-size: cover;
    background-position: center;
  }

  &--plenka {
    background-image: url("../images/products/plenka_nut.jpg");
    background-size: cover;
    background-position: center;
  }

  &--kolotoe {
    background-image: url("../images/products/kolotoe_nut.jpg");
    background-size: cover;
    background-position: center;

    @include desktop {
      background-position-x: 80%;
    }

    @include desktop-min {
      background-position-x: 38%;
    }

    @include tablet-max {
      background-position-x: 70%;
    }

    @include tablet {
      //background-position-x: -36px;
    }

    @include mobile-max {
      background-position-x: 67%;
    }
  }
}

.products__slide-logo {
  margin-bottom: 77px;
  width: 400px;


  @include desktop {
    //margin-bottom: 77px;
  }

  @include desktop-min {
    width: 300px;
    margin-bottom: 50px;
  }

  @include tablet-max {
    margin-bottom: 31px;
  }

  @include mobile-max {
    width: 200px;
    margin-bottom: 10px;
  }
}


.products__contact-button {
  display: block;
  width: 320px;
  min-height: 59px;
  position: relative;
  border-radius: 30px;
  background-color: #F47220;
  box-sizing: border-box;
  padding: 14px;
  text-transform: uppercase;
  border: none;

  @include desktop-min {
    width: 230px;
  }

  @include mobile-max {
    width: 150px;
    min-height: 0;
    padding: 8px;
  }


  & p {
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    margin: 0;

    @include mobile-max {
      font-size: 19px;
    }
  }

  @include effect-opacity;
}

.products__slide-controls {
  @include effect-opacity;
  opacity: 1;
}

.products__slide-controls::after {
  display: none
}

.products__slide-controls--prev {
  position: absolute;
  content: " ";
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
  //border-radius: 30px;
  top: 48.9%;
  left: 0;
  z-index: 9999999999;
  @include effect-opacity;

  @include desktop-min {
    width: 50px;
    height: 50px;
    top: 50%;
  }

  @include mobile-max {
    width: 40px;
    height: 40px;
  }

  svg {
    @include mobile-max {
      width: 25px;
      height: 25px;
    }
  }
}

.products__slide-controls--next {
  position: absolute;
  content: " ";
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
  //border-radius: 30px;
  top: 48.9%;
  right: 0;
  z-index: 9999999999;
  @include effect-opacity;


  @include desktop-min {
    width: 50px;
    height: 50px;
    top: 50%;
  }

  @include mobile-max {
    width: 40px;
    height: 40px;
  }

  svg {
    @include mobile-max {
      width: 25px;
      height: 25px;
    }
  }
}
