.quality {
  position: relative;
  background-image: url("../images/quality/background_quality.jpg");
  background-size: cover;


  @include tablet {
    background-image: url("../images/quality/background_quality_tablet.jpg");
    background-size: cover;
  }

  @include mobile-max {
    background-image: url("../images/quality/background_quality_mobile.jpg");
    background-size: cover;
  }

  //&::after {
  //  content: " ";
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  background-image: url(../images/svg/zig-zag.svg);
  //  background-repeat: repeat-x;
  //  background-position: top;
  //  //transform: rotate(180deg);
  //  width: 100%;
  //  height: 10px;
  //  z-index: 2;
  //
  //  @include mobile-max {
  //    bottom: -1px;
  //  }
  //
  //}
}

.quality__wrapper-box {
  padding: 4.1% 7.3%;
  box-sizing: border-box;
}

.quality__wrapper {
  box-sizing: border-box;
  width: 100%;
  padding-left: 30%;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;

  @include desktop-min {
    padding-left: 20px;
  }

  @include tablet-max {
    padding: 0;
  }
}

.quality__wrapper-list {
  list-style: none;
}

.quality__wrapper-list-item {
  width: 100%;
  min-height: 189px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);

  @include effect-opacity;

  @include  tablet-max {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    align-self: center;
  }

  @include tablet {
    border-radius: 50px;
    align-self: center;

  }

  @include mobile-max {
    border-radius: 50px;
    align-self: center;
  }

  & h3 {
    margin: 0;
    //margin: 0 0 30px 30px;
    font-size: 48px;
    line-height: 49px;
    font-weight: 700;

    @include mobile-max {
      font-size: 30px;
      line-height: 42px;
    }
  }

  & span {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;

    @include mobile-max {
      font-size: 21px;
      line-height: 32px;
    }
  }


  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    //display: block;
    //width: 100%;
    height: 97.9%;
    border: 3px solid #F47220;

    @include mobile-max {
      height: 80%;
      top: 37px;
      border: 1px solid #F47220;
    }

    @include tablet {
      height: 75%;
      border-radius: 50px;
      top: 45px;
      border: 1px solid #F47220;
    }

    @include tablet-max {
      height: 75%;
      border-radius: 50px;
      top: 45px;
      border: 2px solid #F47220;
      display: none;
    }
  }
}

.quality__control::after {
  display: none;
}

.quality__control {
  //background-color: rgba(0, 0, 0, .3);
  //height: 32px;
  @include effect-opacity;
}

.quality__control--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  //z-index: 2;
  top: 8%;
  z-index: 0;
  display: none;


  @include tablet-max {
    top: 50%;
    display: block;
    left: 0;
  }

  @include tablet {
  }

  @include mobile-max {

  }
}

.quality__control--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  //z-index: 2;
  top: 8%;
  z-index: 0;
  display: none;

  @include tablet-max {
    top: 50%;
    display: block;
    right: 0;
  }

  @include tablet {
  }

  @include mobile-max {
  }
}

