html,
body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: "akrobat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 22px;
    letter-spacing: normal;
    color: black;

}

a {
    text-decoration: none;
    color: red;
}

* {
    box-sizing: border-box;
}

.top {
    transition: all 1s ease;
    position: fixed;
    right: -100px;
    bottom: 50px;
    transform: rotate(180deg);
    z-index: 99899898989898;
    /*display: none;*/
    width: 55px;
    height: 55px;
    background-color: rgba(244, 114, 32, .7);
    border-radius: 50%;
}

img {
    display: block;
    z-index: 43634632;
    max-width: 100%;
    height: auto;
}
