.page-header {
    width: 100%;
    position: absolute;
    z-index: 1;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    top: 0;
    box-sizing: border-box;
    padding: 0 140px;

    /*@include tablet {*/
    /*  padding: 0 30px;*/
    /*}*/

    /*@include desktop-min {*/
    /*  padding: 0 70px;*/
    /*  box-sizing: border-box;*/
    /*}*/

    /*@include tablet-max {*/
    /*  padding: 0 30px;*/
    /*}*/

    /*@include mobile-max {*/
    /*  padding: 0 10px;*/
    /*}*/
}

.page-header__wrapper {
    max-width: 1640px;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 152px;
    position: relative;

    /*@include mobile-max {*/
    /*  flex-wrap: wrap;*/
    /*  //justify-content: center;*/
    /*  justify-content: space-evenly;*/
    /*}*/
}

.page-header__logo {
    text-decoration: none;
    width: 50%;

    /*@include tablet {*/
    /*  width: 540px;*/
    /*}*/

    /*//@include mobile {*/
    /*//  width: 80%;*/
    /*//}*/
}

.page-header__logo-image {
    /*@include effect-opacity;*/

    /*@include tablet {*/
    /*  margin: 0 auto;*/
    /*  display: block;*/
    /*  //width: 180px;*/
    /*  margin-top: 10px;*/
    /*}*/

    /*@include mobile-max {*/
    /*  margin-bottom: 0;*/
    /*}*/
}

.page-header__contacts {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-end;

    /*@include tablet-max {*/
    /*  margin-left: unset;*/
    /*  align-items: flex-end;*/
    /*  flex-wrap: wrap;*/
    /*  flex-direction: column;*/
    /*  justify-content: center;*/
    /*}*/

    /*@include desktop-min {*/
    /*  align-items: flex-end;*/
    /*}*/

    /*@include tablet {*/
    /*  width: 100%;*/
    /*  align-items: center;*/
    /*  flex-wrap: wrap;*/
    /*  flex-direction: row;*/
    /*}*/

    /*@include mobile-max {*/
    /*  //width: 100%;*/
    /*  align-items: center;*/
    /*  flex-wrap: nowrap;*/
    /*  flex-direction: row-reverse;*/
    /*}*/
}

.page-header__contact-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 8px 0;
    justify-content: flex-end;
}

/*@include effect-opacity;*/

.page-header__contact-button span {
    margin-right: 28px;
    font-size: 20px;
    font-weight: bold;

    /*@include desktop-min {*/
    /*  justify-content: flex-end;*/
    /*}*/
}

/*@include tablet-max {*/
/*  justify-content: flex-end;*/

/*  & span {*/
/*    font-size: 15px;*/
/*    margin-right: 10px;*/
/*  }*/

/*  & svg {*/
/*    width: 40px;*/
/*  }*/
/*}*/

/*@include tablet {*/
/*  width: 100%;*/


/*  & span {*/
/*    font-size: 15px;*/
/*    margin-right: 10px;*/
/*  }*/

/*  & svg {*/
/*    width: 40px;*/
/*  }*/

/*  padding: 0;*/
/*}*/

/*@include mobile-max {*/
/*  width: 50%;*/
/*  justify-content: center;*/

/*}*/
/*}*/

.page-header__language-en {
    position: relative;
    width: 12%;
    margin: 0 8px;

    /*@include  tablet {*/
    /*  width: 130px;*/
    /*}*/

    /*@include mobile-max {*/
    /*  width: 70px;*/
    /*}*/
}

.page-header__language-en-image {
    display: block;
    margin: 0 auto;

    /*@include effect-opacity;*/

    /*@include tablet {*/
    /*  width: 100%;*/
    /*}*/
}

.hamburger--emphatic {
    width: 10%;
    padding: 15px 40px;

    /*@include tablet {*/
    /*  //padding: 15px 9% 15px 0;*/
    /*  width: 9%;*/
    /*}*/
}

.mm-menu {
    --mm-color-background: #251109;
}

#my-menu {
    z-index: 10000000000;
}

.client-text {
    width: 80%;
}


.page-header--policy {
    background-image: url("/public/images/teaser/back27wood.jpg");
    background-size: cover;
    /*position: static;*/
    position: relative;
}

.page-header--policy::before {
    content: " ";
    position: absolute;
    bottom: -3px;
    left: 0;
    background-image: url("/public/images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position-x: 42px;
    width: 100%;
    height: 10px;
}

/*@include tablet-max {*/
/*  background-image: url("./public/images/teaser/back27wood_tablet.jpg");*/
/*  background-size: cover;*/
/*}*/

/*@include mobile-max {*/
/*  background-image: url("./public/images/teaser/back27wood_mobile.jpg");*/
/*  background-size: cover;*/
/*}*/
/*}*/
